Repository n4vysh/portfolio: changes, and which pre-commit hooks are due for each by the changed paths.
All: deno-fmt, deno-lint, stylelint, build-static-site, lhci, taplo-format, taplo-lint, just, build-container-image, markdown-link-check, textlint, shfmt, shellharden, ct, kubeval, skaffold

deno-fmt:
  alias: frontend
  name: format js, ts, tsx, md, and json files with deno fmt
  language: system
  entry: deno fmt

deno-lint:
  alias: frontend
  name: check ts and tsx files with deno lint
  language: system
  entry: deno lint

stylelint:
  alias: frontend
  name: check css files with stylelint
  language: node
  language_version: 17.1.0
  minimum_pre_commit_version: 0.7.0
  additional_dependencies:
  - stylelint@14.1.0
  - stylelint-config-standard@24.0.0
  - stylelint-config-recess-order@3.0.0
  - stylelint-config-prettier@9.0.3
  ...

build-static-site:
  alias: frontend
  name: check ts, tsx, and css files with aleph build
  language: system
  entry: just build-static-site
  pass_filenames: false

lhci:
  alias: frontend
  name: check with lhci
  language: node
  language_version: 16.13.0
  entry: lhci autorun
  additional_dependencies:
  - '@lhci/cli@0.8.2'
  - puppeteer@11.0.0
  pass_filenames: false

taplo-format:
  alias: config
  name: format toml files with taplo format
  language: node
  entry: taplo format
  additional_dependencies:
  - '@taplo/cli@0.3.2'

taplo-lint:
  alias: config
  name: check toml files with taplo lint
  language: node
  entry: taplo lint
  additional_dependencies:
  - '@taplo/cli@0.3.2'

just:
  alias: config
  name: format justfile with just --fmt option
  language: system
  entry: just --fmt --unstable
  pass_filenames: false

build-container-image:
  alias: container
  name: check nginx.conf, project.toml, and buildpack.yml with skaffold
  language: system
  entry: sh -c 'mkdir dist/; just build-container-image'
  pass_filenames: false

markdown-link-check:
  alias: markup
  name: check link in markdown files with markdown-link-check
  language: node
  minimum_pre_commit_version: 0.7.0
  additional_dependencies:
  - markdown-link-check@3.8.7
  entry: markdown-link-check --config .markdown-link-check.json

textlint:
  alias: markup
  name: check text files with textlint
  language: node
  language_version: 17.1.0
  minimum_pre_commit_version: 0.7.0
  additional_dependencies:
  - textlint@12.0.2
  - textlint-rule-no-todo@2.0.1
  - textlint-rule-no-start-duplicated-conjunction@2.0.2
  - textlint-rule-max-number-of-lines@1.0.3
  ...

shfmt:
  alias: shell-scripts
  name: format .envrc with shfmt
  minimum_pre_commit_version: 2.4.0
  language: docker_image
  entry: mvdan/shfmt:v3.4.0 -w

shellharden:
  alias: shell-scripts
  name: format .envrc with shellharden
  minimum_pre_commit_version: 1.10.0
  language: rust
  entry: shellharden --replace
  additional_dependencies:
  - cli:shellharden:4.1.1

ct:
  alias: artifact
  name: lint helm chart
  language: docker_image
  entry: quay.io/helmpack/chart-testing:v3.4.0 ct lint --all
  pass_filenames: false

kubeval:
  alias: artifact
  name: validate helm chart
  language: system
  entry: sh -c 'helm template portfolio ./charts/portfolio/ | kubeval'
  pass_filenames: false

ci: fix chart-release job in main workflow
  .github/workflows/main.yml
Due: none

Update index.yaml
  index.yaml
Due: none

Delete infra/flux/clusters/production/flux-system/gotk-components.yaml
  infra/flux/clusters/production/flux-system/gotk-components.yaml
Due: none

Delete infra/flux/clusters/production/flux-system/gotk-sync.yaml
  infra/flux/clusters/production/flux-system/gotk-sync.yaml
Due: none

Delete infra/flux/clusters/production/flux-system/kustomization.yaml
  infra/flux/clusters/production/flux-system/kustomization.yaml
Due: none

ci: update main workflow to run terragrunt plan in parallel
  .github/scripts/output-terragrunt-info.bash
  .github/workflows/main.yml
  .github/workflows/reusable-terragrunt-workflow.yml
  infra/terragrunt/environments/production/dns/.driftignore
  infra/terragrunt/environments/production/iam/.driftignore
  infra/terragrunt/environments/production/storage/.driftignore
  infra/terragrunt/justfile
  infra/terragrunt/scripts/driftctl.bash
  infra/terragrunt/terragrunt.hcl
Due: just

Add infra/flux/clusters/production/flux-system/gotk-sync.yaml
  infra/flux/clusters/production/flux-system/gotk-sync.yaml
Due: none

Add infra/flux/clusters/production/flux-system/kustomization.yaml
  infra/flux/clusters/production/flux-system/kustomization.yaml
Due: none

Add infra/flux/clusters/production/flux-system/gotk-components.yaml
  infra/flux/clusters/production/flux-system/gotk-components.yaml
Due: none

fix(infra/terraform): avoid apply error of aws-auth
  infra/terraform/modules/kubectl-manifests/main.tf
Due: none

fix(infra/terragrunt): fix apply error of target group bindings
  infra/flux/infra/base/contour/kustomization.yaml
  infra/terragrunt/environments/production/artifact/contour/.terraform.lock.hcl
  infra/terragrunt/environments/production/artifact/contour/namespace.yaml
  infra/terragrunt/environments/production/artifact/contour/terragrunt.hcl
  infra/terragrunt/environments/production/artifact/target-group-bindings/terragrunt.hcl
Due: none

ci: restrict terragrunt-apply job to main branch
  .github/workflows/reusable-terragrunt-workflow.yml
Due: none

feat(infra/charts): add kube-score to pre-commit hook and update helm chart
  .gitignore
  .pre-commit-config.yaml
  README.md
  infra/charts/portfolio/Chart.yaml
  infra/charts/portfolio/README.md
  infra/charts/portfolio/ci/test-values.yaml
  infra/charts/portfolio/templates/deployment.yaml
  infra/charts/portfolio/templates/pod-disruption-budget.yaml
  infra/charts/portfolio/templates/tests/test-connection.yaml
  infra/charts/portfolio/values.yaml
  scripts/hooks/kube-score.bash
  scripts/install/kube-score.bash
Due: deno-fmt, markdown-link-check, textlint

feat(infra): add script to get kubeconfig
  infra/justfile
  infra/scripts/deploy.bash
  infra/scripts/get-creds.bash
Due: just

fix: update install script for kube-score
  scripts/install-packages.bash
Due: none

ci: prevent build matrix error in deploy-stg/terragrunt-plan job
  .github/workflows/reusable-terragrunt-workflow.yml
Due: none

docs: add description for CI/CD Pipeline
  README.md
  misc/screenshots/github_actions_main_workflow.png
Due: deno-fmt, markdown-link-check, textlint

docs: add version information to requirements section
  README.md
Due: deno-fmt, markdown-link-check, textlint

fix(infra/terragrunt): prevent volume node affinity conflict of thanos
  infra/terragrunt/environments/production/artifact/thanos/terragrunt.hcl
  infra/terragrunt/environments/production/dns/records/n4vysh.dev/terragrunt.hcl
Due: none

feat(infra): add script to check status of pods and nodes, middlewares
  README.md
  infra/justfile
  infra/scripts/check.bash
Due: deno-fmt, just, markdown-link-check, textlint

refactor(infra/terragrunt): remove unused DNS zone
  infra/terragrunt/base/modules/aws-route53-delegation-sets.hcl
  infra/terragrunt/base/modules/aws-route53-zones.hcl
  infra/terragrunt/environments/production/dns/dnssec/prd.n4vysh.dev/.terraform.lock.hcl
  infra/terragrunt/environments/production/dns/dnssec/prd.n4vysh.dev/terragrunt.hcl
  infra/terragrunt/environments/production/dns/records/n4vysh.dev/terragrunt.hcl
Due: none

docs: add detail description to README
  README.md
Due: deno-fmt, markdown-link-check, textlint

feat(infra/charts): add polaris to pre-commit hook
  .pre-commit-config.yaml
  .tool-versions
  README.md
  infra/charts/portfolio/templates/deployment.yaml
  scripts/hooks/polaris.bash
Due: deno-fmt, markdown-link-check, textlint

refactor: tweak skaffold wrapper
  .envrc
  bin/skaffold
Due: shfmt, shellharden

feat(infra/charts): add pluto to pre-commit hook
  .pre-commit-config.yaml
  .tool-versions
  README.md
  scripts/hooks/pluto.bash
Due: deno-fmt, markdown-link-check, textlint

feat(infra/charts): bump portfolio from 0.1.7 to 0.1.8
  infra/charts/portfolio/Chart.yaml
  infra/charts/portfolio/README.md
Due: deno-fmt, markdown-link-check, textlint

chore(infra/terragrunt): disable EKS cluster logging with Amazon CloudWatch for cost reduction
  infra/terragrunt/base/modules/aws-eks-cluster.hcl
Due: none

feat(infra/flux): add kubeconform to pre-commit hook
  .github/actions/install-packages/action.yml
  .pre-commit-config.yaml
  .tool-versions
  README.md
  infra/flux/.gitignore
  infra/flux/crd-schemas/.gitkeep
  infra/flux/scripts/download-crd-schemas.bash
  infra/flux/scripts/kubeconform.bash
  scripts/install-packages.bash
Due: deno-fmt, markdown-link-check, textlint

fix: change version of asdf-direnv
  README.md
  scripts/init/asdf-direnv-integration.bash
Due: deno-fmt, markdown-link-check, textlint

fix(infra/charts): add annotation to skip CKV_K8S_38 of checkov
  infra/charts/portfolio/Chart.yaml
  infra/charts/portfolio/README.md
  infra/charts/portfolio/templates/deployment.yaml
Due: deno-fmt, markdown-link-check, textlint

fix(infra/terraform): change configuration_aliases from aws.us_east_1 to aws.secondary
  infra/terraform/modules/aws-route53-dnssec/versions.tf
Due: none

Path conditions:
  deno-fmt: any of: \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.tsx$, \.(md|markdown|mdown)$, \.json$
  deno-lint: any of: \.(ts|mts|cts)$, \.tsx$
  stylelint: any of: \.css$
  build-static-site: any of: \.(ts|mts|cts)$, \.tsx$, \.css$, but not: scripts/*$
  lhci: any of: \.(ts|mts|cts)$, \.tsx$, \.css$
  taplo-format: any of: \.toml$
  taplo-lint: any of: \.toml$
  just: any of: justfile$
  build-container-image: any of: (?x)^(
    nginx.conf|
    project.toml|
    buildpack.yml|
    skaffold.yaml
)$

  markdown-link-check: any of: \.(md|markdown|mdown)$
  textlint: any of: \.(md|markdown|mdown)$
  shfmt: any of: .envrc$
  shellharden: any of: .envrc$
  ct: any of: ^charts
  kubeval: any of: ^charts
  skaffold: any of: skaffold.yaml
