Repository n4vysh/portfolio: changes, and which pre-commit hooks are due for each by the changed paths.
All: deno-fmt, deno-lint, stylelint, download-script, build-aleph, lhci, taplo-format, taplo-lint, just, shfmt, shellharden

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: trailing-whitespace
        exclude_types: [markdown]
      - id: end-of-file-fixer
      - id: check-added-large-files
      - id: fix-byte-order-marker
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.4.1
    hooks:
      - id: prettier
        types_or: [yaml, css]
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.26.3
    hooks:
      - id: yamllint
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.29.0
    hooks:
      - id: markdownlint
  - repo: https://github.com/koalaman/shellcheck-precommit
    rev: v0.8.0
    hooks:
      - id: shellcheck
        name: check .envrc with shellcheck
        args: [-s, bash]
        files: .envrc$
        types: []
  - repo: https://github.com/rhysd/actionlint
    rev: v1.6.8
    hooks:
      - id: actionlint-docker
  - repo: local
    hooks:
      - id: deno-fmt
        name: format js, ts, tsx, md, and json files with deno fmt
        language: system
        entry: deno fmt
        types_or: [javascript, ts, tsx, markdown, json]
      - id: deno-lint
        name: check ts and tsx files with deno lint
        language: system
        entry: deno lint
        types_or: [ts, tsx]
      - &stylelint
        id: stylelint
        name: format css files with stylelint
        language: node
        types: [css]
        minimum_pre_commit_version: 0.7.0
        additional_dependencies:
          - "stylelint@14.1.0"
          - "stylelint-config-standard@24.0.0"
          - "stylelint-config-recess-order@3.0.0"
          - "stylelint-config-prettier@9.0.3"
        entry: stylelint --fix
      - name: check css files with stylelint
        entry: stylelint
        <<: *stylelint
      - id: download-script
        name: check download script
        language: system
        entry: just download
        files: scripts/download.ts$
        pass_filenames: false
      - id: build-aleph
        name: check ts, tsx, and css files with aleph build
        language: system
        entry: just build-aleph
        types_or: [ts, tsx, css]
        exclude: scripts/*$
        pass_filenames: false
      - id: lhci
        name: check with lhci
        language: node
        entry: lhci autorun
        types_or: [ts, tsx, css]
        additional_dependencies: ["@lhci/cli@0.8.2", "puppeteer@11.0.0"]
        pass_filenames: false
      - id: taplo-format
        name: format toml files with taplo format
        language: node
        entry: taplo format
        types: [toml]
        additional_dependencies: ["@taplo/cli@0.3.2"]
      - id: taplo-lint
        name: check toml files with taplo lint
        language: node
        entry: taplo lint
        types: [toml]
        additional_dependencies: ["@taplo/cli@0.3.2"]
      - id: just
        name: format justfile with just --fmt option
        language: system
        entry: just --fmt --unstable
        files: justfile$
        pass_filenames: false
      - id: shfmt
        name: format .envrc with shfmt
        minimum_pre_commit_version: 2.4.0
        language: docker_image
        entry: mvdan/shfmt:v3.4.0 -w
        files: .envrc$
      - id: shellharden
        name: format .envrc with shellharden
        minimum_pre_commit_version: 1.10.0
        language: rust
        entry: shellharden --replace
        files: .envrc$
        additional_dependencies: ["cli:shellharden:4.1.1"]
      - id: commitlint
        name: check commit message with commitlint
        language: node
        minimum_pre_commit_version: 0.7.0
        additional_dependencies:
          - "@commitlint/cli@15.0.0"
          - "@commitlint/config-conventional@15.0.0"
        stages: [commit-msg]
        entry: commitlint --edit

chore: add pre-commit hook of pack
  .pre-commit-config.yaml
Due: none

chore: add markdownlint --fix to pre-commit hook
  .pre-commit-config.yaml
Due: none

chore: add pre-commit hook for shell scripts
  .pre-commit-config.yaml
Due: none

chore: bump markdownlint-fix from 2d2ba47 to v0.30.0
  .pre-commit-config.yaml
Due: none

chore: add markdown-link-check to pre-commit hook
  .markdown-link-check.json
  .pre-commit-config.yaml
Due: deno-fmt

chore(deps): add .renovaterc.json
  .renovaterc.json
Due: deno-fmt

chore(deps): add renovate.json
  renovate.json
Due: deno-fmt

chore: use Node.js 16 to avoid bug of lighthouse
  .pre-commit-config.yaml
Due: none

chore: add alias to pre-commit hooks
  .pre-commit-config.yaml
Due: none

chore: tweak justfile to pass target
  justfile
Due: just

chore: use --cache option of stylelint
  .gitignore
  .pre-commit-config.yaml
Due: none

chore: set default language version of pre-commit
  .pre-commit-config.yaml
Due: none

chore: update script to install aleph.js v0.3.0-beta.19
  scripts/init.bash
Due: none

chore: remove firefox for deno-puppeteer
  scripts/init.bash
Due: none

chore: add denon
  justfile
  scripts.yml
  scripts/init.bash
Due: just

chore: add trex
  import_map.json
  scripts/init.bash
Due: deno-fmt

chore: add `trex install` to justfile
  justfile
  scripts/init.bash
Due: just

style: format init.bash
  scripts/init.bash
Due: none

chore: tweak justfile
  .env
  justfile
  scripts/update-packages.bash
Due: just

chore: update justfile to rename recipes and add description comment
  .pre-commit-config.yaml
  README.md
  justfile
Due: deno-fmt, just

chore: use icon.png instead of favicon.png
  app.tsx
  scripts/download.ts
Due: deno-fmt, deno-lint, download-script, build-aleph, lhci

chore: add icon file
  .pre-commit-config.yaml
  LICENSE.txt
  README.md
  import_map.json
  justfile
  misc/icon.svg
  scripts.yml
  scripts/download.ts
Due: deno-fmt, deno-lint, download-script, build-aleph, lhci, just

chore: use git revision to build container
  justfile
Due: just

chore: add codespell to pre-commit hook
  .pre-commit-config.yaml
Due: none

chore: tweak pre-commit hooks
  .pre-commit-config.yaml
Due: none

chore: tweak alias of pre-commit hooks
  .pre-commit-config.yaml
Due: none

chore: add textlint to pre-commit hook
  .gitignore
  .pre-commit-config.yaml
  .textlintrc.yaml
  README.md
Due: deno-fmt

ci: use reusable workflows of GitHub Actions
  .github/workflows/pre-commit-run-all.yml
  .github/workflows/reusable-pre-commit-run.yml
Due: none

chore: fix target files of pre-commit hooks
  .pre-commit-config.yaml
Due: none

ci: add input parameters of GitHub Actions
  .github/workflows/pre-commit-run-all.yml
  .github/workflows/reusable-pre-commit-run.yml
Due: none

ci: fix pre-commit hook for icon files
  .github/workflows/pre-commit-run-all.yml
  .gitignore
  .pre-commit-config.yaml
  public/images/.gitkeep
Due: none

chore: tweak pre-commit hook to avoid bug of svgo
  .pre-commit-config.yaml
Due: none

chore: add manifest files of kubernetes
  .envrc
  .gitignore
  .tool-versions
  justfile
  manifests/deployment.yaml
  manifests/ingress.yaml
  manifests/kind.yaml
  manifests/namespace.yaml
  manifests/service.yaml
  manifests/skaffold.yaml
Due: just, shfmt, shellharden

chore: add helm chart
  .envrc
  .prettierignore
  .tool-versions
  .yamllint.yaml
  charts/Chart.yaml
  charts/templates/NOTES.txt
  charts/templates/deployment.yaml
  charts/templates/hpa.yaml
  charts/templates/ingress.yaml
  charts/templates/service.yaml
  charts/templates/tests/test-connection.yaml
  charts/values.yaml
  justfile
  manifests/deployment.yaml
  manifests/ingress.yaml
  manifests/namespace.yaml
Due: just, shfmt, shellharden

chore: update skaffold config to use helm
  charts/values.yaml
  justfile
  manifests/skaffold.yaml
Due: just

chore: use helmfile
  .tool-versions
  charts/templates/deployment.yaml
  charts/templates/hpa.yaml
  charts/templates/ingress.yaml
  charts/templates/service.yaml
  charts/templates/tests/test-connection.yaml
  helmfile.yaml
  justfile
  values.yaml
Due: just

chore: use skaffold instead of pack
  .github/workflows/pre-commit-run-all.yml
  .github/workflows/reusable-pre-commit-run.yml
  .pre-commit-config.yaml
  .tool-versions
  justfile
  manifests/skaffold.yaml
Due: just

chore: bump prettier from 2.4.1 to 2.5.0
  .pre-commit-config.yaml
Due: none

chore: fix typo of manifest file
  manifests/skaffold.yaml
Due: none

chore: rename directory of helm chart
  .prettierignore
  .yamllint.yaml
  charts/portfolio/Chart.yaml
  charts/portfolio/templates/NOTES.txt
  charts/portfolio/templates/deployment.yaml
  charts/portfolio/templates/hpa.yaml
  charts/portfolio/templates/ingress.yaml
  charts/portfolio/templates/service.yaml
  charts/portfolio/templates/tests/test-connection.yaml
  charts/portfolio/values.yaml
  helmfile.yaml
  manifests/skaffold.yaml
Due: none
