Repository n4vysh/portfolio: changes, and which pre-commit hooks are due for each by the changed paths.
All: deno-fmt, deno-lint, stylelint, prettier, build-static-site, lhci, build-container-image, yamllint, skaffold, taplo-format, taplo-lint, just, markdownlint, markdownlint-fix, markdown-link-check, vale, shfmt, shellharden, shellcheck, actionlint, kube-linter, helm-docs, ct, kubeval, checkov, datree, kube-score, polaris, pluto, terraform-fmt, terraform-validate, terrascan, trivy, tflint, terraform-docs, terragrunt-hclfmt, kubeconform

Path conditions:
  deno-fmt: any of: ^frontend/ and \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.tsx$, \.(md|markdown|mdown)$, \.json$ and not ((?x)^frontend/(
    .aleph|
    dist
)/.*$
)
  deno-lint: any of: ^frontend/ and \.(ts|mts|cts)$, \.tsx$ and not ((?x)^frontend/(
    .aleph|
    dist
)/.*$
)
  stylelint: any of: ^frontend/ and \.css$ and not ((?x)^frontend/(
    .aleph|
    dist
)/.*$
)
  prettier: (any of: \.css$) or (any of: \.(yaml|yml)$)
  build-static-site: any of: ^frontend/ and \.(ts|mts|cts)$, \.tsx$, \.css$ and not ((?x)^frontend/(
    .aleph|
    dist|
    scripts
)/.*$
)
  lhci: any of: ^frontend/ and \.(ts|mts|cts)$, \.tsx$, \.css$ and not ((?x)^frontend/(
    .aleph|
    dist|
    scripts
)/.*$
)
  build-container-image: any of: (?x)^frontend/(
    nginx.conf|
    project.toml|
    buildpack.yml|
    skaffold.yaml
)$

  yamllint: any of: \.(yaml|yml)$
  skaffold: any of: skaffold.yaml
  taplo-format: any of: \.toml$
  taplo-lint: any of: \.toml$
  just: any of: justfile$
  markdownlint: any of: \.(md|markdown|mdown)$, but not: ^infra/charts
  markdownlint-fix: any of: \.(md|markdown|mdown)$, but not: ^infra/charts
  markdown-link-check: any of: \.(md|markdown|mdown)$
  vale: any of: \.(md|markdown|mdown)$, but not: (?x)^infra/(
    charts|
    terraform
)

  shfmt: any of: .envrc$
  shellharden: any of: .envrc$
  shellcheck: any of: .envrc$
  actionlint: any of: ^.github/workflows/ and \.(yaml|yml)$
  kube-linter: any of: ^infra/charts/ and \.(yaml|yml)$
  helm-docs: any of: (README\.md\.gotmpl|(Chart|requirements|values)\.yaml)$
  ct: any of: ^infra/charts
  kubeval: any of: ^infra/charts
  checkov: (any of: ^infra/charts/) or (any of: \.(tf|tfvars)$)
  datree: any of: ^infra/charts/
  kube-score: any of: ^infra/charts/
  polaris: any of: ^infra/charts/
  pluto: any of: ^infra/charts/
  terraform-fmt: any of: \.(tf|tfvars)$
  terraform-validate: any of: \.(tf|tfvars)$
  terrascan: any of: \.(tf|tfvars)$
  trivy: any of: \.(tf|tfvars)$
  tflint: any of: \.(tf|tfvars)$
  terraform-docs: any of: \.(tf|tfvars)$
  terragrunt-hclfmt: any of: ^infra/terragrunt/
  kubeconform: any of: ^infra/flux/

Update index.yaml
  index.yaml
Due: prettier, yamllint

chore(infra/flux): bump kube-prometheus-stack from 23.3.2 to 34.10.0
  infra/flux/infra/base/kube-prometheus-stack/release.yaml
Due: prettier, yamllint, kubeconform

refactor: change install method of precompiled packages
  README.md
  backend/misc/precompiled-packages.yaml
  backend/scripts/install-packages.bash
  backend/scripts/install/go-packages.bash
  backend/scripts/install/precompiled-packages.bash
  frontend/misc/precompiled-packages.yaml
  frontend/scripts/install-packages.bash
  frontend/scripts/install/oxipng.bash
  frontend/scripts/install/precompiled-packages.bash
  frontend/scripts/install/resvg.bash
  infra/misc/precompiled-packages.yaml
  infra/scripts/install-packages.bash
  infra/scripts/install/infracost.bash
  infra/scripts/install/kube-linter.bash
  infra/scripts/install/kube-score.bash
  infra/scripts/install/precompiled-packages.bash
  infra/scripts/install/terrascan.bash
  misc/precompiled-packages.yaml
  scripts/install-packages.bash
  scripts/install/gitleaks.bash
  scripts/install/precompiled-packages.bash
  scripts/install/shellharden.bash
Due: prettier, yamllint, markdownlint, markdownlint-fix, markdown-link-check, vale

docs: add description of Editor or IDE
  README.md
Due: markdownlint, markdownlint-fix, markdown-link-check, vale

docs: fix typo
  README.md
Due: markdownlint, markdownlint-fix, markdown-link-check, vale

chore: remove unused code
  README.md
  infra/terragrunt/environments/production/artifact/namespaces/terragrunt.hcl
Due: markdownlint, markdownlint-fix, markdown-link-check, vale, terragrunt-hclfmt

docs: update description of TargetGroupBinding
  README.md
Due: markdownlint, markdownlint-fix, markdown-link-check, vale

refactor: remove duplicate install scripts
  backend/scripts/init/asdf-direnv.bash
  backend/scripts/install-packages.bash
  backend/scripts/install/asdf-packages.bash
  backend/scripts/install/precompiled-packages.bash
  frontend/scripts/init/asdf-direnv.bash
  frontend/scripts/install-packages.bash
  frontend/scripts/install/asdf-packages.bash
  frontend/scripts/install/denon.bash
  frontend/scripts/install/node-packages.bash
  frontend/scripts/install/precompiled-packages.bash
  infra/scripts/init/asdf-direnv.bash
  infra/scripts/install-packages.bash
  infra/scripts/install/asdf-packages.bash
  infra/scripts/install/precompiled-packages.bash
  infra/scripts/install/python-packages.bash
  misc/scripts/download-vale-styles.bash
  scripts/execute-parallel.bash
  scripts/init/asdf-direnv.bash
  scripts/install-packages.bash
  scripts/install/asdf-packages.bash
  scripts/install/node-packages.bash
  scripts/install/precompiled-packages.bash
  scripts/install/python-packages.bash
Due: none

docs: add diagram of logical structure
  .codespellrc
  .gitignore
  README.md
  misc/diagrams/logical_structure.svg
  misc/diagrams/physical_structure.svg
Due: markdownlint, markdownlint-fix, markdown-link-check, vale

feat(infra/flux): add Grafana dashboards for Istio
  infra/flux/infra/base/istio-system/kustomization.yaml
  infra/flux/infra/base/istio-system/monitor.yaml
  infra/flux/infra/base/kube-prometheus-stack/release.yaml
  infra/flux/scripts/kubeconform.bash
  misc/screenshots/kube-prometheus-stack/grafana_dashboards.png
  misc/screenshots/kube-prometheus-stack/grafana_example_dashboard_1.png
  misc/screenshots/kube-prometheus-stack/grafana_example_dashboard_2.png
Due: prettier, yamllint, kubeconform

feat(infra/flux): add kiali to visualize Istio service mesh
  infra/flux/infra/base/kiali-operator/kustomization.yaml
  infra/flux/infra/base/kiali-operator/namespace.yaml
  infra/flux/infra/base/kiali-operator/release.yaml
  infra/flux/infra/base/kustomization.yaml
  infra/flux/infra/base/sources/kiali.yaml
  infra/flux/infra/base/sources/kustomization.yaml
Due: prettier, yamllint, kubeconform

feat(infra/flux): enable internal link of TraceID on Grafana
  infra/flux/kustomize/mesh/base/istio-system/release.yaml
  infra/flux/kustomize/monitoring/base/kube-prometheus-stack/release.yaml
Due: prettier, yamllint, kubeconform

feat(backend): add trace span
  backend/index.go
  backend/noroute.go
  backend/trace.go
Due: none

feat(infra/charts): bump portfolio from 0.1.14 to 0.1.15
  infra/charts/portfolio/Chart.yaml
  infra/charts/portfolio/README.md
  infra/charts/portfolio/values.yaml
Due: prettier, yamllint, markdown-link-check, kube-linter, helm-docs, ct, kubeval, checkov, datree, kube-score, polaris, pluto

feat(infra/flux): use opentelemetry-collector instead of zipkin
  infra/flux/kustomize/mesh/base/istio-system/kustomization.yaml
  infra/flux/kustomize/mesh/base/istio-system/release.yaml
  infra/flux/kustomize/mesh/base/istio-system/zipkin.yaml
  infra/flux/kustomize/mesh/base/sources/kustomization.yaml
  infra/flux/kustomize/mesh/base/sources/otel.yaml
Due: prettier, yamllint, kubeconform

feat(infra): use only gRPC of OpenTelemetry
  infra/charts/portfolio/Chart.yaml
  infra/charts/portfolio/README.md
  infra/charts/portfolio/templates/deployment.yaml
  infra/flux/kustomize/apps/overlays/production/portfolio/release.yaml
  infra/terragrunt/environments/production/artifact/configmaps/tempo/configmap.yaml.tftpl
Due: prettier, yamllint, markdown-link-check, kube-linter, helm-docs, ct, kubeval, checkov, datree, kube-score, polaris, pluto, terragrunt-hclfmt, kubeconform

feat(infra): use only HTTP of OpenTelemetry
  infra/charts/portfolio/Chart.yaml
  infra/charts/portfolio/README.md
  infra/charts/portfolio/templates/deployment.yaml
  infra/flux/kustomize/apps/overlays/production/portfolio/release.yaml
  infra/flux/kustomize/mesh/base/istio-system/release.yaml
  infra/terragrunt/environments/production/artifact/configmaps/tempo/configmap.yaml.tftpl
Due: prettier, yamllint, markdown-link-check, kube-linter, helm-docs, ct, kubeval, checkov, datree, kube-score, polaris, pluto, terragrunt-hclfmt, kubeconform

feat(infra/flux): enable anonymous authentication of Grafana
  infra/flux/kustomize/monitoring/base/kube-prometheus-stack/release.yaml
  infra/scripts/viz-monitor.bash
Due: prettier, yamllint, kubeconform

feat(infra/flux): remove kiali
  infra/flux/kustomize/mesh/base/kiali-operator/kustomization.yaml
  infra/flux/kustomize/mesh/base/kiali-operator/namespace.yaml
  infra/flux/kustomize/mesh/base/kiali-operator/release.yaml
  infra/flux/kustomize/mesh/base/kustomization.yaml
  infra/flux/kustomize/mesh/base/sources/kiali.yaml
  infra/flux/kustomize/mesh/base/sources/kustomization.yaml
Due: prettier, yamllint, kubeconform

refactor(backend): use grouping routes of Gin
  backend/index.go
  backend/middleware.go
  backend/noroute.go
  backend/routers.go
  backend/scripts/create-dummy-files.bash
  backend/static.go
Due: none

feat(frontend): disallow to crawl assets directory
  frontend/public/robots.txt
Due: none

feat(infra/charts): bump portfolio from 0.1.15 to 0.1.16
  infra/charts/portfolio/Chart.yaml
  infra/charts/portfolio/README.md
  infra/charts/portfolio/values.yaml
Due: prettier, yamllint, markdown-link-check, kube-linter, helm-docs, ct, kubeval, checkov, datree, kube-score, polaris, pluto

fix(infra/flux): update derived fields of Loki to match b3 trace id
  infra/flux/kustomize/monitoring/base/kube-prometheus-stack/release.yaml
Due: prettier, yamllint, kubeconform

refactor: add yaml files for asdf plugins
  backend/scripts/install-packages.bash
  frontend/scripts/install-packages.bash
  infra/misc/unofficial-asdf-plugins.yaml
  infra/scripts/install-packages.bash
  misc/unofficial-asdf-plugins.yaml
  scripts/install-packages.bash
  scripts/install/asdf-packages.bash
Due: prettier, yamllint

fix: update script to install precompiled packages
  scripts/install/precompiled-packages.bash
Due: none

refactor(infra): remove unnecessary file
  infra/misc/unofficial-asdf-plugins.yaml
Due: prettier, yamllint

feat: check b2sum of precompiled packages
  README.md
  backend/misc/precompiled-packages.yaml
  frontend/misc/precompiled-packages.yaml
  infra/misc/precompiled-packages.yaml
  misc/precompiled-packages.yaml
  scripts/install/precompiled-packages.bash
Due: prettier, yamllint, markdownlint, markdownlint-fix, markdown-link-check, vale

docs: add detailed descriptions to README
  README.md
Due: markdownlint, markdownlint-fix, markdown-link-check, vale
