Repository n4vysh/portfolio: changes, and which pre-commit hooks are due for each by the changed paths.
All: deno-fmt, deno-lint, stylelint, download-script, build-aleph, lhci, taplo-format, taplo-lint, just, shfmt, shellharden

deno-fmt:
  name: format js, ts, tsx, md, and json files with deno fmt
  language: system
  entry: deno fmt

deno-lint:
  name: check ts and tsx files with deno lint
  language: system
  entry: deno lint

stylelint:
  name: check css files with stylelint
  language: node
  minimum_pre_commit_version: 0.7.0
  additional_dependencies:
  - stylelint@14.1.0
  - stylelint-config-standard@24.0.0
  - stylelint-config-recess-order@3.0.0
  - stylelint-config-prettier@9.0.3
  entry: stylelint

download-script:
  name: check download script
  language: system
  entry: just download
  pass_filenames: false

build-aleph:
  name: check ts, tsx, and css files with aleph build
  language: system
  entry: just build-aleph
  pass_filenames: false

lhci:
  name: check with lhci
  language: node
  entry: lhci autorun
  additional_dependencies:
  - '@lhci/cli@0.8.2'
  - puppeteer@11.0.0
  pass_filenames: false

taplo-format:
  name: format toml files with taplo format
  language: node
  entry: taplo format
  additional_dependencies:
  - '@taplo/cli@0.3.2'

taplo-lint:
  name: check toml files with taplo lint
  language: node
  entry: taplo lint
  additional_dependencies:
  - '@taplo/cli@0.3.2'

just:
  name: format justfile with just --fmt option
  language: system
  entry: just --fmt --unstable
  pass_filenames: false

shfmt:
  name: format .envrc with shfmt
  minimum_pre_commit_version: 2.4.0
  language: docker_image
  entry: mvdan/shfmt:v3.4.0 -w

shellharden:
  name: format .envrc with shellharden
  minimum_pre_commit_version: 1.10.0
  language: rust
  entry: shellharden --replace
  additional_dependencies:
  - cli:shellharden:4.1.1

chore: tweak justfile
  .env
  justfile
Due: just

chore: add chart-testing to pre-commit hook
  .pre-commit-config.yaml
  charts/portfolio/Chart.yaml
Due: none

ci: add workflow to build container image
  .github/workflows/main.yml
Due: none

chore: add skaffold diagnose to pre-commit hook
  .github/workflows/main.yml
  .pre-commit-config.yaml
Due: none

ci: update workflow to use git short hash
  .github/workflows/main.yml
Due: none

ci: fix workflow to build container image
  .github/workflows/main.yml
  .pre-commit-config.yaml
  justfile
  manifests/skaffold.yaml
  misc/dockerfiles/oxipng/Dockerfile
  misc/dockerfiles/resvg/Dockerfile
  misc/dockerfiles/svgo/Dockerfile
  scripts/build-images.bash
Due: just

chore: tweak build script
  scripts/build-images.bash
Due: none

chore: move manifest files to root directory
  .github/workflows/main.yml
  .pre-commit-config.yaml
  justfile
  kind.yaml
  skaffold.yaml
Due: just

docs: add bash to requirements section
  README.md
Due: deno-fmt

chore: tweak pre-commit hook of skaffold
  .pre-commit-config.yaml
Due: none

chore: add kube-linter to pre-commit hook
  .pre-commit-config.yaml
  charts/portfolio/templates/deployment.yaml
  charts/portfolio/templates/tests/test-connection.yaml
  charts/portfolio/values.yaml
  helmfile.yaml
  justfile
Due: just

chore: add kubeval to pre-commit hook
  .envrc
  .github/workflows/main.yml
  .github/workflows/reusable-pre-commit-run.yml
  .pre-commit-config.yaml
  .tool-versions
  scripts/install-packages.bash
Due: shfmt, shellharden

chore: tweak image build script
  scripts/build-images.bash
Due: none

chore: move screenshot to misc directory
  README.md
  misc/screenshot.png
  scripts/screenshot.ts
Due: deno-fmt, deno-lint, build-aleph, lhci

chore: add hadolint to pre-commit hook
  .pre-commit-config.yaml
  misc/dockerfiles/oxipng/Dockerfile
  misc/dockerfiles/resvg/Dockerfile
  misc/dockerfiles/svgo/Dockerfile
Due: none

chore(deps): update pre-commit hook pre-commit/mirrors-prettier to v2.5.1
  .pre-commit-config.yaml
Due: none

chore: add helm-docs to pre-commit hook
  .pre-commit-config.yaml
  .tool-versions
  charts/portfolio/README.md
Due: deno-fmt

ci: add workflow to release helm chart
  .github/workflows/main.yml
Due: none

chore: initial commit
  index.html
Due: none

Update index.yaml
  index.yaml
Due: none

chore: add helm repository to helmfile
  helmfile.yaml
Due: none

chore(deps): update pre-commit hook norwoodj/helm-docs to v1.2.1
  .pre-commit-config.yaml
Due: none

chore(deps): update helm release contour to v7.0.6
  helmfile.yaml
Due: none

chore(deps): update all non-major dependencies helm releases
  helmfile.yaml
  infra/helmfiles/helmfile.yaml
Due: none

chore: enable stub status of Nginx
  nginx.conf
Due: none

chore: change log format of Nginx
  nginx.conf
Due: none

chore: tweak stub status of Nginx
  infra/charts/portfolio/Chart.yaml
  infra/charts/portfolio/README.md
  infra/charts/portfolio/templates/deployment.yaml
  infra/charts/portfolio/templates/service.yaml
  infra/charts/portfolio/templates/tests/test-connection.yaml
  infra/charts/portfolio/values.yaml
  nginx.conf
Due: deno-fmt

chore: add datadog agent and kube-state-metrics
  infra/charts/portfolio/Chart.yaml
  infra/charts/portfolio/README.md
  infra/charts/portfolio/templates/deployment.yaml
  infra/charts/portfolio/values.yaml
  infra/helmfiles/helmfile.yaml
  infra/helmfiles/justfile
  infra/helmfiles/secrets/datadog.enc.yaml
  infra/helmfiles/values/datadog-agent.yaml.gotmpl
  infra/helmfiles/values/staging/contour.yaml
  infra/helmfiles/values/staging/datadog-agent.yaml
  infra/justfile
  infra/scripts/deploy.bash
  infra/scripts/diff.bash
  infra/terraform/environments/staging/terragrunt.hcl
  infra/terraform/modules/k8s/main.tf
  infra/terraform/modules/k8s/variables.tf
Due: deno-fmt, just

chore(deps): update helm release portfolio to v0.1.3
  helmfile.yaml
Due: none

chore: add metrics-server
  infra/helmfiles/helmfile.yaml
Due: none

chore: add preapply.bash to install crds
  infra/helmfiles/justfile
  infra/helmfiles/scripts/preapply.bash
Due: just

Path conditions:
  deno-fmt: any of: \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.tsx$, \.(md|markdown|mdown)$, \.json$
  deno-lint: any of: \.(ts|mts|cts)$, \.tsx$
  stylelint: any of: \.css$
  download-script: any of: scripts/download.ts$
  build-aleph: any of: \.(ts|mts|cts)$, \.tsx$, \.css$, but not: scripts/*$
  lhci: any of: \.(ts|mts|cts)$, \.tsx$, \.css$
  taplo-format: any of: \.toml$
  taplo-lint: any of: \.toml$
  just: any of: justfile$
  shfmt: any of: .envrc$
  shellharden: any of: .envrc$
