Repository n4vysh/portfolio: changes, and which pre-commit hooks are due for each by the changed paths.
All: deno-fmt, deno-lint, stylelint, prettier, build-static-site, lhci, build-container-image, yamllint, skaffold, taplo-format, taplo-lint, just, markdownlint, markdownlint-fix, markdown-link-check, vale, shfmt, shellharden, shellcheck, actionlint, kube-linter, helm-docs, ct, kubeval, checkov, datree, kube-score, polaris, pluto, terraform-fmt, terraform-validate, terrascan, trivy, tflint, terraform-docs, terragrunt-hclfmt, kubeconform

deno-fmt:
  alias: frontend
  name: format js, ts, tsx, md, and json files with deno fmt
  language: system
  entry: direnv exec frontend just frontend/fmt-deno
  pass_filenames: false

deno-lint:
  alias: frontend
  name: check ts and tsx files with deno lint
  language: system
  entry: direnv exec frontend just frontend/lint-deno
  pass_filenames: false

stylelint:
  alias: frontend
  name: check css files with stylelint
  language: system
  entry: direnv exec frontend just frontend/lint-css
  pass_filenames: false

prettier:
  alias: config
  name: format yaml file with prettier
  language: system
  entry: just fmt-yaml

build-static-site:
  alias: frontend
  name: check ts, tsx, and css files with aleph build
  language: system
  entry: direnv exec frontend just frontend/build-static-site
  pass_filenames: false

lhci:
  alias: frontend
  name: check with lhci
  language: system
  entry: direnv exec frontend just frontend/test
  pass_filenames: false

build-container-image:
  alias: frontend
  name: check nginx.conf, project.toml, and buildpack.yml with skaffold
  language: system
  entry: sh -c 'mkdir frontend/dist/; just frontend/build-container-image'
  pass_filenames: false

yamllint:
  alias: config
  name: check yaml file with yamllint
  entry: yamllint
  language: system

skaffold:
  alias: config
  name: check skaffold.yaml with skaffold diagnose
  language: system
  entry: sh -c 'cd frontend; mkdir dist/; skaffold diagnose'

taplo-format:
  alias: config
  name: format toml files with taplo format
  language: script
  entry: scripts/hooks/taplo-format.bash

taplo-lint:
  alias: config
  name: check toml files with taplo lint
  language: system
  entry: just lint-toml

just:
  alias: config
  name: format justfile with just --fmt option
  language: system
  entry: just --fmt --unstable
  pass_filenames: false

markdownlint:
  alias: markup
  name: check markdown file with markdownlint
  entry: markdownlint
  language: system

markdownlint-fix:
  alias: markup
  name: format markdown file with markdownlint
  entry: markdownlint --fix
  language: system

markdown-link-check:
  alias: markup
  name: check link in markdown files with markdown-link-check
  language: script
  entry: scripts/hooks/markdown-link-check.bash

vale:
  alias: markup
  name: check text files with vale
  language: system
  entry: vale

shfmt:
  alias: shell-scripts
  name: format .envrc with shfmt
  language: system
  entry: shfmt -w

shellharden:
  alias: shell-scripts
  name: format .envrc with shellharden
  language: system
  entry: direnv exec . shellharden --replace

shellcheck:
  alias: shell-scripts
  name: check .envrc with shellcheck
  language: system
  entry: shellcheck -s bash

actionlint:
  alias: ci
  name: check GitHub Actions workflow files with actionlint
  language: system
  entry: actionlint

helm-docs:
  alias: infra/charts
  name: generate document of helm chart with helm-docs
  language: system
  entry: helm-docs

chore(deps): update actions/checkout action to v3
  .github/workflows/main.yml
  .github/workflows/reusable-terragrunt-workflow.yml
Due: prettier, yamllint, actionlint

Update index.yaml
  index.yaml
Due: prettier, yamllint

feat(infra): encrypt secrets with age for Linkerd mTLS
  .github/workflows/main.yml
  .github/workflows/reusable-terragrunt-workflow.yml
  .gitleaks.toml
  infra/.tool-versions
  infra/flux/infra/base/linkerd/ca.crt
  infra/flux/infra/base/linkerd/issuer.crt
  infra/flux/infra/base/linkerd/issuer.key
  infra/flux/infra/base/linkerd/kustomization.yaml
  infra/flux/infra/base/linkerd/release.yaml
  infra/flux/justfile
  infra/terragrunt/environments/production/.envrc
  infra/terragrunt/environments/production/artifact/namespaces/common/namespace.yaml.tftpl
  infra/terragrunt/environments/production/artifact/namespaces/linkerd/namespace.yaml.tftpl
  infra/terragrunt/environments/production/artifact/namespaces/terragrunt.hcl
  infra/terragrunt/environments/production/artifact/secrets/.terraform.lock.hcl
  infra/terragrunt/environments/production/artifact/secrets/ca.crt
  infra/terragrunt/environments/production/artifact/secrets/issuer.crt
  infra/terragrunt/environments/production/artifact/secrets/issuer.key
  infra/terragrunt/environments/production/artifact/secrets/linkerd/secret.yaml.tftpl
  infra/terragrunt/environments/production/artifact/secrets/terragrunt.hcl
  infra/terragrunt/justfile
  infra/terragrunt/scripts/generate.bash
Due: prettier, yamllint, taplo-format, taplo-lint, just, shfmt, shellharden, shellcheck, actionlint, terragrunt-hclfmt, kubeconform

refactor: remove unused code
  infra/justfile
Due: just

docs: update screenshot of GitHub Actions main workflow
  misc/screenshots/github_actions_main_workflow.png
Due: none

refactor: use wrapper scripts instead of direnv for node and python packages
  .envrc
  bin/.gitkeep
  bin/codespell
  bin/commitlint
  bin/markdown-link-check
  bin/markdownlint
  bin/prettier
  bin/taplo
  frontend/.envrc
  frontend/.gitignore
  frontend/bin/.gitkeep
  frontend/bin/aleph
  frontend/bin/denon
  frontend/bin/lhci
  frontend/bin/prettier
  frontend/bin/stylelint
  frontend/bin/svgo
  frontend/scripts/install/aleph.bash
  frontend/scripts/install/denon.bash
  infra/.envrc
  infra/bin/checkov
  infra/bin/yamale
  infra/bin/yamllint
  infra/charts/scripts/checkov.bash
  infra/terraform/justfile
  justfile
  lefthook.yml
  scripts/taplo-format.bash
Due: prettier, yamllint, just, shfmt, shellharden, shellcheck, ct, kubeval, checkov, datree, kube-score, polaris, pluto

chore(frontend): bump skaffold from 1.35.0 to 1.38.0
  frontend/.tool-versions
  frontend/bin/skaffold
Due: none

chore: change alert level of vale
  .vale.ini
Due: none

chore: ignore bkp file of drawio
  .gitignore
Due: none

feat(infra): enable distributed tracing with Linkerd and Tempo
  README.md
  infra/flux/infra/base/kube-prometheus-stack/release.yaml
  infra/flux/infra/base/kustomization.yaml
  infra/flux/infra/base/linkerd-jaeger/kustomization.yaml
  infra/flux/infra/base/linkerd-jaeger/namespace.yaml
  infra/flux/infra/base/linkerd-jaeger/release.yaml
  infra/flux/infra/base/tempo/kustomization.yaml
  infra/flux/infra/base/tempo/release.yaml
  infra/terragrunt/base/data/aws-iam-policy/main.tf
  infra/terragrunt/base/data/aws-iam-policy/outputs.tf
  infra/terragrunt/environments/production/artifact/configmaps/tempo/configmap.yaml.tftpl
  infra/terragrunt/environments/production/artifact/configmaps/terragrunt.hcl
  infra/terragrunt/environments/production/artifact/namespaces/terragrunt.hcl
  infra/terragrunt/environments/production/iam/irsa/tempo/.terraform.lock.hcl
  infra/terragrunt/environments/production/iam/irsa/tempo/terragrunt.hcl
  infra/terragrunt/environments/production/iam/policy/tempo/.terraform.lock.hcl
  infra/terragrunt/environments/production/iam/policy/tempo/terragrunt.hcl
  infra/terragrunt/environments/production/storage/tempo/.terraform.lock.hcl
  infra/terragrunt/environments/production/storage/tempo/terragrunt.hcl
  misc/diagram.svg
Due: prettier, yamllint, markdownlint, markdownlint-fix, markdown-link-check, vale, checkov, terraform-fmt, terraform-validate, terrascan, trivy, tflint, terraform-docs, terragrunt-hclfmt, kubeconform

chore: ignore terrascan from markdown-link-check
  .markdown-link-check.json
Due: none

ci: add .pnpm-store directory to cache path
  .github/actions/install-packages/action.yml
Due: prettier, yamllint

chore: update wrapper scripts to run without pnpm
  bin/commitlint
  bin/markdown-link-check
  bin/markdownlint
  bin/prettier
  bin/taplo
  frontend/bin/lhci
  frontend/bin/prettier
  frontend/bin/stylelint
  frontend/bin/svgo
Due: none

fix(frontend): specify Aleph.js version
  frontend/scripts.yml
Due: prettier, yamllint

feat(infra): bump helm chart and kubernetes manifest files for backend migration
  .tool-versions
  README.md
  backend/skaffold.yaml
  bin/helm
  infra/.envrc
  infra/.tool-versions
  infra/charts/portfolio/Chart.yaml
  infra/charts/portfolio/README.md
  infra/charts/portfolio/ci/test-values.yaml
  infra/charts/portfolio/templates/deployment.yaml
  infra/charts/portfolio/templates/hpa.yaml
  infra/charts/portfolio/templates/ingress.yaml
  infra/charts/portfolio/templates/pod-disruption-budget.yaml
  infra/charts/portfolio/templates/service-monitor.yaml
  infra/charts/portfolio/templates/service.yaml
  infra/charts/portfolio/templates/tests/test-connection.yaml
  infra/charts/portfolio/values.yaml
  infra/flux/apps/base/portfolio/canary.yaml
  infra/flux/apps/base/portfolio/serviceprofile.yaml
  infra/flux/apps/overlays/production/portfolio/release.yaml
  infra/flux/clusters/production/apps.yaml
  infra/flux/infra/base/kube-prometheus-stack/release.yaml
  infra/flux/infra/base/linkerd-jaeger/release.yaml
  infra/justfile
  infra/scripts/analyze.bash
  infra/scripts/deploy.bash
  infra/scripts/log.bash
Due: prettier, yamllint, skaffold, just, markdownlint, markdownlint-fix, markdown-link-check, vale, shfmt, shellharden, shellcheck, kube-linter, helm-docs, ct, kubeval, checkov, datree, kube-score, polaris, pluto, kubeconform

refactor: use asdf plugin of actionlint
  .tool-versions
  scripts/install-packages.bash
  scripts/install/actionlint.bash
Due: none

docs: add detailed description to README
  README.md
Due: markdownlint, markdownlint-fix, markdown-link-check, vale

chore(infra): add terraform-ls
  README.md
  infra/.tool-versions
Due: markdownlint, markdownlint-fix, markdown-link-check, vale

refactor: remove unused code
  .gitignore
Due: none

chore: tweak pre-commit hook of helm-docs
  infra/charts/justfile
  lefthook.yml
Due: prettier, yamllint, just, ct, kubeval, checkov, datree, kube-score, polaris, pluto

chore(backend): set service name of trace
  backend/trace.go
Due: none

feat: use ko instead of Cloud Native Buildpacks
  README.md
  backend/.gitignore
  backend/bin/.gitkeep
  backend/bin/skaffold
  backend/skaffold.yaml
  infra/charts/portfolio/README.md
  infra/charts/portfolio/ci/test-values.yaml
  infra/charts/portfolio/templates/deployment.yaml
  infra/charts/portfolio/values.yaml
  infra/scripts/deploy.bash
Due: prettier, yamllint, skaffold, markdownlint, markdownlint-fix, markdown-link-check, vale, kube-linter, helm-docs, ct, kubeval, checkov, datree, kube-score, polaris, pluto

chore: ignore renovatebot from markdown-link-check
  .markdown-link-check.json
Due: none

ci(infra/charts): use bash script to avoid sh error
  infra/charts/justfile
  infra/charts/scripts/check-docs.bash
Due: just, ct, kubeval, checkov, datree, kube-score, polaris, pluto

refactor(infra/charts): move config files of ct
  infra/charts/chart_schema.yaml
  infra/charts/lintconf.yaml
Due: prettier, yamllint, kube-linter, ct, kubeval, checkov, datree, kube-score, polaris, pluto

ci: tweak cache target
  .github/actions/install-packages/action.yml
Due: prettier, yamllint

fix(infra): tweak pre-commit hook of kube-linter
  lefthook.yml
Due: prettier, yamllint

feat(infra): add Zipkin integration of Istio
  infra/flux/infra/base/istio-system/kustomization.yaml
  infra/flux/infra/base/istio-system/zipkin.yaml
Due: prettier, yamllint, kubeconform

chore(infra/charts): bump portfolio chart from 0.1.11 to 0.1.12
  infra/charts/portfolio/Chart.yaml
  infra/charts/portfolio/README.md
  infra/charts/portfolio/values.yaml
Due: prettier, yamllint, markdown-link-check, kube-linter, helm-docs, ct, kubeval, checkov, datree, kube-score, polaris, pluto

feat(backend): add support for b3 multiple headers
  backend/trace.go
Due: none

chore(infra/charts): bump portfolio chart from 0.1.12 to 0.1.13
  infra/charts/portfolio/Chart.yaml
  infra/charts/portfolio/README.md
  infra/charts/portfolio/values.yaml
Due: prettier, yamllint, markdown-link-check, kube-linter, helm-docs, ct, kubeval, checkov, datree, kube-score, polaris, pluto

feat(backend): add gin middleware to inject tracing headers
  backend/middleware.go
  backend/routers.go
Due: none

feat(infra/charts): bump portfolio chart from 0.1.13 to 0.1.14
  infra/charts/portfolio/Chart.yaml
  infra/charts/portfolio/README.md
  infra/charts/portfolio/values.yaml
Due: prettier, yamllint, markdown-link-check, kube-linter, helm-docs, ct, kubeval, checkov, datree, kube-score, polaris, pluto

Path conditions:
  deno-fmt: any of: ^frontend/ and \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.tsx$, \.(md|markdown|mdown)$, \.json$ and not ((?x)^frontend/(
    .aleph|
    dist
)/.*$
)
  deno-lint: any of: ^frontend/ and \.(ts|mts|cts)$, \.tsx$ and not ((?x)^frontend/(
    .aleph|
    dist
)/.*$
)
  stylelint: any of: ^frontend/ and \.css$ and not ((?x)^frontend/(
    .aleph|
    dist
)/.*$
)
  prettier: (any of: \.css$) or (any of: \.(yaml|yml)$)
  build-static-site: any of: ^frontend/ and \.(ts|mts|cts)$, \.tsx$, \.css$ and not ((?x)^frontend/(
    .aleph|
    dist|
    scripts
)/.*$
)
  lhci: any of: ^frontend/ and \.(ts|mts|cts)$, \.tsx$, \.css$ and not ((?x)^frontend/(
    .aleph|
    dist|
    scripts
)/.*$
)
  build-container-image: any of: (?x)^frontend/(
    nginx.conf|
    project.toml|
    buildpack.yml|
    skaffold.yaml
)$

  yamllint: any of: \.(yaml|yml)$
  skaffold: any of: skaffold.yaml
  taplo-format: any of: \.toml$
  taplo-lint: any of: \.toml$
  just: any of: justfile$
  markdownlint: any of: \.(md|markdown|mdown)$, but not: ^infra/charts
  markdownlint-fix: any of: \.(md|markdown|mdown)$, but not: ^infra/charts
  markdown-link-check: any of: \.(md|markdown|mdown)$
  vale: any of: \.(md|markdown|mdown)$, but not: (?x)^infra/(
    charts|
    terraform
)

  shfmt: any of: .envrc$
  shellharden: any of: .envrc$
  shellcheck: any of: .envrc$
  actionlint: any of: ^.github/workflows/ and \.(yaml|yml)$
  kube-linter: any of: ^infra/charts/ and \.(yaml|yml)$
  helm-docs: any of: (README\.md\.gotmpl|(Chart|requirements|values)\.yaml)$
  ct: any of: ^infra/charts
  kubeval: any of: ^infra/charts
  checkov: (any of: ^infra/charts/) or (any of: \.(tf|tfvars)$)
  datree: any of: ^infra/charts/
  kube-score: any of: ^infra/charts/
  polaris: any of: ^infra/charts/
  pluto: any of: ^infra/charts/
  terraform-fmt: any of: \.(tf|tfvars)$
  terraform-validate: any of: \.(tf|tfvars)$
  terrascan: any of: \.(tf|tfvars)$
  trivy: any of: \.(tf|tfvars)$
  tflint: any of: \.(tf|tfvars)$
  terraform-docs: any of: \.(tf|tfvars)$
  terragrunt-hclfmt: any of: ^infra/terragrunt/
  kubeconform: any of: ^infra/flux/
